* {
  padding: 0;
  margin: 0;
}

header {
  height: 4.5vh;
  background-color: #d9d9d9;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  height: 12vh;
  background-color: #afa9a9;
}

div {
  display: flex;
  flex-direction: column;
  width: 41vw;
}
